@(username:String,password: String)(implicit request: RequestHeader)

@main("Cti Channel") {
	<h3>Connecting @username to cti server</h3>
	
	
	<div class="page-header">
        <h1>Welcome to the XiVO client test <small>as @username</small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
        <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea>
        </div>
        <div class="span4">
            <h2>Members</h2>
            <ul id="members">
            </ul>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
    
        $(function() {
            
			var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var ctiChannelSocket = new WS("@routes.Application.ctiChannel(username,password).webSocketURL()")
            
			var sendMessage = function() {
				ctiChannelSocket.send(JSON.stringify(
                    {text: $("#talk").val()}
                ))
                $("#talk").val('')
            }
            
            var receiveEvent = function(event) {
                var data = JSON.parse(event.data)
				console.log("event :" + data.message)
                // Handle errors
                if(data.error) {
                	ctiChannelSocket.close()
                    $("#onError span").text(data.error)
                    $("#onError").show()
                    return
                } else {
                    $("#onChat").show()
                }
                
                // Create the message element
                var el = $('<div class="message"><span></span><p></p></div>')
                $("p", el).text(data.message)
                $('#messages').append(el)
                
            }
            
			var handleReturnKey = function(e) {
                if(e.charCode == 13 || e.keyCode == 13) {
                    e.preventDefault()
                    sendMessage()
                } 
            }
            
            $("#talk").keypress(handleReturnKey)  
            
			ctiChannelSocket.onmessage = receiveEvent
            
        })
    
    </script>
	
}
